@model SaaSPro.Services.ViewModels.UsersListModel
@{
    ViewBag.Title = "System Users";
}
<div class="page-header with-actions">
	<h1>@ViewBag.Title</h1>
    <div class="page-header-actions">
        <a href="@Url.Action("add")" class="btn btn-primary">Add a new System user</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Date Registered</th>
            <th>Last Login Date</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td><a href="@Url.Action("update", "users", new { id = user.Id })">@user.FullName</a></td>
            <td><a href="mailto:@user.Email">@user.Email</a></td>
            <td>@user.RegisteredDate.ToShortDateString()</td>
            <td>@user.LastLoginDate</td>
            <td>@foreach (var role in user.Roles) { @role<br /> }</td>
            <td><a href="@Url.Action("update", "users", new { id = user.Id })" class="btn btn-default btn-xs">Update</a></td>
        </tr>
    }
</table>
@Html.PagerFor(model => model.Users, x => Url.Action("index", new { page = x, pageSize = Model.Users.PageSize }))