@model SaaSPro.Services.ViewModels.SubscriptionModel
@{
    ViewBag.Title = "Subscription";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div>
    <fieldset>
        <legend>Details</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentPlan)
            @Html.TextBoxFor(model => model.CurrentPlan, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentPrice)
            @Html.TextBox("Price", string.Format("${0}/{1}", Model.CurrentPrice.FormatSignificant(), Model.CurrentPeriod), new { @class = "form-control" })
        </div> 
    </fieldset>
    
    <div class="form-actions">
        <a href="@Url.Action("change-subscription", "subscriptions")" class="btn btn-primary">Change Subscription</a>
        <a href="#cancel" data-toggle="modal" class="btn btn-danger">Cancel Subscription</a>
    </div>
</div>

@Html.Partial("_Cancel", new ConfirmationModel
{
    Title = "Cancel Subscription?",
    Message = "Please confirm that you wish to cancel subscription.",
    Url = Url.Action("cancel-subscription", "subscriptions"),
})