@model AuthResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}
@using (Html.BeginForm("resetpassword", "auth", FormMethod.Post, new { @class = "form-reset-pwd" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ResetToken)
    <h2>@ViewBag.Title</h2>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "sr-only" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email Address" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, new { @class = "sr-only" })
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "New Password" })
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "sr-only" })
        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
}