
@model ForgotPasswordModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@{
    ViewBag.Title = "Forgot Password";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong><img src="~/Images/saaspro-logo-small.png" alt="SaaSPro" title="SaaSPro" /> Admin </strong></h3>
    </div>
    <div class="panel-body">
        <p>If you have forgotten your password - reset it here.</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Username)
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Send My Password</button>
            <div style="float: right;">
                <a href="@Url.Action("login", "auth")">Back to Login</a> 
            </div>
        }
    </div>
</div>
