@{
    var resetLink = Url.QualifiedAction("resetpassword", "auth", new { email = ViewBag.To, resetToken = ViewBag.ResetToken });
}
To: @ViewBag.To
From: @ViewBag.From
Subject: SaaSPro Password Reset Request
Content-Type: text/html

<html>
    <body>
        <p>
            Hi,</p>
        <p>
            A password reset request was received for the SaaSPro account linked to this email
            address (@ViewBag.To). Please click the link below to reset your password.</p>
        <p>
            <a href="@resetLink">@resetLink</a></p>
        <p>
            If you did not request a password reset you can ignore this email.</p>
        <p>
            SaaSPro support<br /> <a href="http://SaaSPro.com">http://SaaSPro.com</a></p>
    </body>
</html>
