@using SaaSPro.Common.Helpers;

@model SchedulerUpdateModel
@{
    ViewBag.Title = "Update";
}

<div class="page-header">
    <h2>Update Job (@Model.Name)</h2>
</div>

@using (Html.BeginForm("update", "scheduler", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Name)
    <fieldset>
        <legend>Schedule</legend>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.RepeatInterval)
            </div>
            <div class="controls">
                @Html.TextBoxFor(model => model.RepeatInterval, new { type = "number", step = "1" })
                @Html.ValidationMessageFor(model => model.RepeatInterval)
            </div>
        </div>
    </fieldset>
        <fieldset>
        <legend>Job Properties</legend>
        @foreach (var property in Model.Properties)
        {
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Properties[property.Key], property.Key.SeparatePascalCase())
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Properties[property.Key])
                @Html.ValidationMessageFor(model => model.Properties[property.Key])
            </div>
        </div>
        }
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Update Job" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
