@model SaaSPro.Services.ViewModels.UsersResetPasswordModel
<div class="modal" id="resetpassword" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Reset User Password</h4>
            </div>
            @using (Html.BeginForm("resetpassword", null, new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="modal-body">
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label"})
                        <div class="controls">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "control-label" })
                        <div class="controls">
                            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            }
        </div>
    </div>
</div>